In [2]:
import pandas as pd

In [10]:
df = pd.read_csv("../data/dataset.csv",sep="[,;:]",index_col=False)

/tmp/ipykernel_350513/481576167.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("../data/dataset.csv",sep="[,;:]",index_col=False)
/tmp/ipykernel_350513/481576167.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv("../data/dataset.csv",sep="[,;:]",index_col=False)

In [11]:
df.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,255.81,17.986295,37.978744,23.736186,22.2066,0.1278,0.0175,5.0
1,2,Motorcycle,230.33,21.936589,37.978843,23.736404,14.9928,-0.3542,0.4299,5.0
2,3,Motorcycle,190.95,11.087628,37.978651,23.735995,19.9242,-0.2388,0.0128,5.0
3,4,Car,285.93,10.812520,37.978601,23.735891,18.3630,0.0792,-0.0318,5.0
4,5,Taxi,299.02,11.829476,37.978530,23.735759,17.3032,-0.0778,0.0640,5.0

In [12]:
len(df.columns)

10

In [13]:
df.shape

(995, 10)